{% extends 'base.html' %}
{% load static %}
{% block title %}Timeline{% endblock %}
{% block content %}
<section class="mytimeline">
    <div class="timeline-container">
        <div class="timeline">
            <ul>
                <!--Web designer volunteeing-->
                <li>
                    <div class="content">
                        <h1>Volunteering as a Web Designer</h1>
                        <h3 class="date">December 04 2020</h3>
                        <p>
                            I applied and landed a volunteer position sucessfully at Canadian Youth for Youth Empowerment as a web designer.
                        </p>
                    </div>
                </li>
                <!--Competitive Programming-->
                <li>
                    <div class="content">
                        <h1>Competitive Programming</h1>
                        <h3 class="date">October 21 2020</h3>
                        <p>
                            I started to take an interest in competitive programming
                            and registered an account on DMOJ to participate in their online contests and to learn more
                            about c++ as well as hone my skills.
                        </p>
                    </div>
                </li>
                <!--Opensource-->
                <li>
                    <div class="content">
                        <h1>Github and the Opensource Community</h1>
                        <h3 class="date">September 30 2020</h3>
                        <p> I joined the opensource community and made an account on github to contribute.</p>
                    </div>
                </li>
                <!--Robotics-->
                <li>
                    <div class="content">
                        <h1>Robotics</h1>
                        <h3 class="date">2020</h3>
                        <p>I took part in our school's robotics team and placed in provincials as well as took home the innovative solution award</p>
                    </div>
                </li>
                <!--Science Rendezvous-->
                <li>
                    <div class="content">
                        <h1>Science Rendezvous</h1>
                        <h3 class="date">2019</h3>
                        <p>My teammate and I took home 2nd place in the University of Toronto Science Rendezvous Competition</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}